<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520006709880-cbhcenbb6nn2ig4pk8hoi5049s3slbf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520006709880-cbhcenbb6nn2ig4pk8hoi5049s3slbf1</string>
	<key>API_KEY</key>
	<string>AIzaSyAGqnaHxuY8X1slNB8VkIxKv8fxT4Ul5cI</string>
	<key>GCM_SENDER_ID</key>
	<string>520006709880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGpt</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-gpt-75871</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-gpt-75871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520006709880:ios:39922169066d59f9b2738d</string>
</dict>
</plist>